html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
/* --- СТИЛ ЗА ИЗБРАНИ БУТОНИ (CHIPS) --- */
.tv-chip-active {
    background: linear-gradient(135deg, #007bff 0%, #0056b3 100%) !important;
    color: white !important;
    border-color: #00bfff !important;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 123, 255, 0.4);
    transition: all 0.2s ease;
}

/* Малък ефект при посочване, за да се усеща интерактивно */
.location-chip:hover, .priority-chip:hover {
    border-color: #007bff;
    cursor: pointer;
}


.tv-input-range::-webkit-slider-thumb {
    background: #007bff;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
    border: 2px solid white;
}

.tv-input-range:active::-webkit-slider-thumb {
    transform: scale(1.2); /* Кръгчето леко пораства, когато го стиснеш */
    transition: transform 0.1s;
}

