@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Табло";
}

<div class="tv-card p-4">
    <h2 class="fw-bold text-white mb-2">Админ табло</h2>
    <p class="text-white-50 mb-0">Тук ще покажеш основните статистики.</p>
</div>